<%= render 'navbar' %>
<h1>List of schools</h1>
<p>
  <%= link_to "Create new school", new_school_path, class: "btn btn-primary" %>
</p>

<p>
  <%= link_to "Show all schools", schools_path, class: "btn btn-primary" %>
</p>
